# Don't version the library and its shortcut
lib/
c

# Don't version HTML reports
*.html

# Don't version the repositories
Repositories/

# Don't version the cache
.codefinder_cache/

# Usual temp files (just in case)
*.tmp
*.log
*~
\#*
*.bak
*.old
